/*More styling for homepage*/
* {
    color: #fff;
    font-family: "Comfortaa", cursive;
}

.btn-primary {
    color: #fff !important;
    background-color: #ff66aa !important;
    border-color: #ff66aa !important;
    border-radius: 15rem !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #dc1f79 !important;
    border-color: #dc1f79 !important;
}