{% extends "emergency/base.html" %}
{% load static %}

{% block title %}settings{% endblock %}

{% block body %}
    <div class="container" style="color: #fff">
        <div class="row">
            <h1>Settings</h1>
        </div>
        <div class="row">
            <form class="form" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <h2>Profile</h2>
                <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label for="id_image" class="col-sm-2 col-form-label form-label">Profile picture:</label>
                    <div class="col-sm-10">
                      <div class="form-current">Current Profile : <img src="{{ user.profile.image.url }}" alt="Current Profile Image" style="width:100%; height:auto; max-width: 150px;"></div>
                      <input type="file" name="image" accept="image/*" id="id_image" class="form-control">
                        <p class="form-error">{{ profile_form.image.errors }}</p>
                    </div>
                  </div>
                </div>
                <button type='submit' class="btn btn-main">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}