{% extends "emergency/base.html" %}
{% load static %}

{% block title %}driving{% endblock %}

{% block style %}
<style>
@media (max-width: 990px) {
    #sus {
        width: 100%!important;
    }
}
</style>
{% endblock %}

{% block body %}
    <div style="color: #fff">
      <div class="container">
        <h1 style="font-size: 3.5em;">👋 Welcome, {{ user.username }}!</h1>
      </div>
      <div class="container">
        <p class="text-center"><img src="{% static 'img/sustwerkfast.gif' %}" alt="SUSTWERK" id="sus"></p>
          <h1 class="text-center">You are driving!</h1>
          <h1 class="text-center"><a href="{% url 'logout' %}" class="btn btn-main">Finish Driving</a></h1>
      </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var enableLocation = true;

        function postUserLocation() {
            if (enableLocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                var url = "{% url 'user_location' user.id %}";
                fetch(url, {
                    method : "PUT",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body : JSON.stringify({
                        lat: parseFloat(lat),
                        lng: parseFloat(lng),
                    })
                }).then(
                    response => response.json()
                ).then(
                    html => console.log(html)
                );
            });
            }
        }
        window.setInterval(postUserLocation, 1000);
    </script>
{% endblock %}