{% extends "emergency/base.html" %}
{% load static %}

{% block title %}emergency list{% endblock %}

{% block body %}
    <div style="color: #fff">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'staff' %}" class="text-decoration-none spacing-hover">Staff</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #fff">Emergency list</li>
              </ol>
            </nav>
        </div>
        <div class="container">
            <h1>Emergency List</h1>
            <div id="emergency_list"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function updateEmergencyList() {
        fetch('{% url 'get_emergency_list' %}', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.length > 0) {
                let emergency_list = document.getElementById('emergency_list');
                emergency_list.innerHTML = '';
                // make a table for emergency list
                let table = document.createElement('table');
                table.classList.add('table');
                table.classList.add('table-dark');
                table.classList.add('table-striped');
                // make a thead for table
                let thead = document.createElement('thead');
                let tr = document.createElement('tr');
                let th = document.createElement('th');
                th.scope = 'col';
                th.innerHTML = 'Car ID';
                tr.appendChild(th);
                th = document.createElement('th');
                th.scope = 'col';
                th.innerHTML = 'Full Name';
                tr.appendChild(th);
                th = document.createElement('th');
                th.scope = 'col';
                th.innerHTML = 'Accident Type';
                tr.appendChild(th);
                th = document.createElement('th');
                th.scope = 'col';
                th.innerHTML = 'Car';
                tr.appendChild(th);
                th = document.createElement('th');
                th.scope = 'col';
                th.innerHTML = 'Detail';
                tr.appendChild(th);
                thead.appendChild(tr);
                table.appendChild(thead);
                // make a tbody for table
                let tbody = document.createElement('tbody');
                // make a tr for each emergency
                for (let i = 0; i < data.length; i++) {
                    let emergency = data[i];
                    let tr = document.createElement('tr');
                    tr.classList.add('align-middle');
                    // make a th for each row
                    let th = document.createElement('th');
                    th.scope = 'row';
                    th.innerHTML = emergency.id;
                    tr.appendChild(th);
                    th = document.createElement('td');
                    th.innerHTML = '<a href="/profile/' + emergency.user.id + '" class="text-decoration-none">' + emergency.user.first_name + ' ' + emergency.user.last_name + '</a>';
                    tr.appendChild(th);
                    if (emergency.has_accident && emergency.has_drowned) {
                        th = document.createElement('td');
                        th.innerHTML = 'Crash and Drowned';
                        tr.appendChild(th);
                    } else if (emergency.has_accident) {
                        th = document.createElement('td');
                        th.innerHTML = 'Crash';
                        tr.appendChild(th);
                    } else if (emergency.has_drowned) {
                        th = document.createElement('td');
                        th.innerHTML = 'Drowned';
                        tr.appendChild(th);
                    } else {
                        th = document.createElement('td');
                        th.innerHTML = 'Unknown';
                        tr.appendChild(th);
                    }
                    th = document.createElement('td');
                    th.innerHTML = emergency.name;
                    tr.appendChild(th);
                    th = document.createElement('td');
                    th.innerHTML = '<a href="/staff/emergency/' + emergency.id + '" class="btn btn-main"><i class="fas fa-pen"></i> Detail</a> <a href="/staff/emergency/resolve/' + emergency.id + '" class="btn btn-main"><i class="fas fa-check"></i> Mark as resolved</a>';
                    tr.appendChild(th);
                    tbody.appendChild(tr);
                }
                table.appendChild(tbody);
                emergency_list.appendChild(table);
            } else {
                emergency_list.innerHTML = `
                <h1 class="text-center"><img src="{% static 'img/blanksus.jpg' %}" alt="blanksus" width="300px"></h1>
                <h1 class="text-center">No accident now!</h1>
                <h1 class="text-center">Let's play some Genshin</h1>`;
            }
        })
    }
    updateEmergencyList()

    window.setInterval(updateEmergencyList, 1000);
</script>
{% endblock %}